<!DOCTYPE html>
<html lang="en">
{% load static %}
{% include 'base/header.html' %}

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        {% include 'base/sidebar.html' %}

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                {% include 'base/topbar.html' %}
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                {% if user.is_superuser %}
                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">Admin</h1>
                    <br />
                    <div class="row">

                        <div class="col-lg-12">

                            <!-- Employee Section 1 -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">My Profile</h6>
                                </div>
                                
                                <!-- Page Heading -->
                                {% if user.is_superuser %}
                                    <h1 id="form_edit_2" class="h3 mb-2 text-gray-800" style="margin-left: 25px;">Admin</h1>
                                    <p class="mb-4" style="margin-left: 50px;">
                                            <a target="_blank" href="#">Admin Module</a>
                                    </p>
                                {% endif %}                                

                                <div class="card-body">
                                    {% include 'tables.html' %}                                     
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <!-- Employee Edit -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 id="form_edit_1" class="m-0 font-weight-bold text-primary">Edit Employees</h6>
                                </div>
                                <div class="card-body">
                                    <p>
                                        My Role in the hospital in settings section will apply to Employees edited below in the following form 
                                    </p>
                                    <p>
                                        <h4 style="color: chocolate;">Edit Employee Settings</h4>
                                    </p>               
                                    <form method="POST" action="{% url 'settings' %}">{% csrf_token %}
                                    <p class="m-0 font-weight-bold text-primary">Drop Down List: &nbsp;                                                                                                                                                                                                                                                        
                                        <select name="selector" id="selector" style="font-weight: bold; font-size: 18px; color: brown; width: 250px;">
                                            {% for obj in employees %}                                                                                                                                                                               
                                            <option value="{{ obj.id }}">
                                                Name: {{obj.first_name}} :: Email: {{ obj.email }}                                                                                          
                                            </option>
                                            {% endfor %}
                                        </select>  
                                        <input type="submit" name="submit" value="Get">
                                    </p>                      
                                    </form>
                                    <br />                                                                       
                                    {% if emp %}
                                    <form name="form" method="POST" action="{% url 'settings' %}" style="padding-left: 5px;font-size: 18px;background-color:gainsboro;color: brown;"> {% csrf_token %} 
                                            <br />                                            
                                            <p hidden>                                                
                                                <input type="text" style="width: 220px;" name="id" value="{{ emp.id }}">
                                            </p>
                                            <p style="display: inline-block;">                                            
                                                <label style="width: 130px;">First Name:&nbsp;</label>
                                                <input type="text" style="width: 220px;" name="first_name" id="first_name" value="{{ emp.first_name }}" placeholder="{{ emp.first_name }}">
                                            </p>
                                            <p>
                                                <label style="width: 130px;">Last Name:&nbsp;</label>
                                                <input type="text" style="width: 220px;" name="last_name" id="last_name" value="{{ emp.last_name }}" placeholder="{{ emp.last_name }}">
                                            </p>
                                            <p>
                                                <label style="width: 130px;">Staff Super User Status:&nbsp;</label>
                                                <input type="number" min="0" max="1" style="width: 220px;" name="is_superuser" id="is_superuser" placeholder="0">
                                            </p>      
                                            <p>
                                                <label style="width: 130px;">Active Status:&nbsp;</label>
                                                <input type="number" min="0" max="1" style="width: 220px;" name="is_active" id="is_active" placeholder="0">
                                            </p>      
                                            <p>                                            
                                                <input type="submit" style="width: 220px;background-color:thistle;border-radius: 5px;border-color: gainsboro;text-align: center;margin-left: 130px;" name="submit" id="submit1" value="Edit Employee">
                                            </p>
                                    </form>                                    
                                    {% endif %}                                         
                                </div>
                            </div>
                        </div>  

                        <div class="col-lg-12">
                            <!-- Employee Delete -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 id="form_edit_1" class="m-0 font-weight-bold text-primary">Delete Employees</h6>
                                </div>
                                <div class="card-body">
                                    <p>
                                        My Role in the hospital in settings section will apply to Employees edited below in the following form 
                                    </p>
                                    <p>
                                        <h4 style="color: chocolate;">Delete Employee Settings</h4>
                                    </p>               
                                    <form method="POST" action="{% url 'settings' %}">{% csrf_token %}
                                    <p class="m-0 font-weight-bold text-primary">Drop Down List: &nbsp;                                                                                                                                                                                                                                                        
                                        <select name="delete" id="delete" style="font-weight: bold; font-size: 18px; color: brown; width: 250px;">
                                            {% for obj in employees %}                                                                                                                                                                               
                                            <option value="{{ obj.id }}">
                                                Name: {{obj.first_name}} :: Email: {{ obj.email }}                                                                                          
                                            </option>
                                            {% endfor %}
                                        </select>  
                                        <input type="submit" name="submit" value="Delete Employee">
                                    </p>                      
                                    </form>
                                    <br />                                                                                                           
                                </div>
                            </div>
                        </div>                                        
                    </div>
                {% endif %}
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            {% include 'base/footer.html' %}
        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

        
    <!-- Logout Modal-->
    {% include 'base/footer-logout.html' %}
    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

</body>

</html>