<!DOCTYPE html>
<html lang="en">
{% load static %}
{% include 'base/header.html' %}

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        {% include 'base/sidebar_emp.html' %}

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                {% include 'base/topbar.html' %}
                <!-- End of Topbar -->

                <!-- Begin Page Content -->

                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">Add Schedule Doctor Appointment</h1>
                                        
                    <!-- Add Deals column -->                    
                    <br />
                    <a href="#viewtable">View Appointment Below</a>
                    <div class="row">                        
                        <div class="col-lg-12">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 id="form_create" class="m-0 font-weight-bold text-primary">Create Doctor's Appointment</h6>
                                </div>
                                <div class="card-body">
                                    <p>
                                       Add New Appointment for doctors' as per your requirements can be added below in the following.                                       
                                    </p>
                                    <p>
                                        <h4 style="color: chocolate;">Add Doctor Appointment</h4>
                                    </p>
                                    <form method="POST" action="{% url 'appointment' %}" style="margin-left: 15px;padding-left: 5px;font-size: 18px;background-color:gainsboro;color: brown;"> {% csrf_token %}                                        
                                                                               
                                        <p style="display: inline-block;">                                            
                                            <label style="width: 200px;">Doctor Name:&nbsp;</label>
                                            <select name="doctor" id="doctor">
                                                <option value="0"> ----- </option>
                                                {% for item in doctor %} 
                                                <option value="{{ item.id }}">{{ item.name }}</option>
                                                {% endfor %}                     
                                            </select>                                        
                                        </p>
                                        <p>                                            
                                            <label style="width: 200px;">Date of Appointment:&nbsp;</label>
                                            <input type="date" min="{{ date }}" style="width: 220px;" name="date" id="date">
                                        </p>                                                           
                                        <p style="display: inline-block;">
                                            <label style="width: 200px;">Time of Appointment:&nbsp;</label>
                                            <input type="time" style="width: 220px;" name="time" id="time">
                                        </p>                                        
                                        <p>
                                            <label style="width: 200px;">Employee:&nbsp;{{ employee }}</label>
                                            <input hidden type="text" style="width: 220px;" name="employee" id="employee" value="{{ employeeid }}">
                                        </p>                                        
                                        <p>                                            
                                            <input type="submit" style="width: 300px;background-color:thistle;border-radius: 5px;border-color: gainsboro;text-align: center;margin-left: 200px;" name="submit" id="submit" value="Add Appointment">
                                        </p>
                                    </form>                                    
                                </div>
                            </div>
                        </div>
                    </div>                        

                    <h1 id="viewtable" class="h3 mb-4 text-gray-800">View Schedule</h1>
                    <div class="row">
                        <div class="col-lg-12">

                            <!-- Product Section 1 -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">List of doctors appointments</h6>
                                </div>
                                <br />
                                <!-- Page Heading -->
                                <h1 class="h3 mb-2 text-gray-800" style="margin-left: 25px;">Schedule Details</h1>
                                <p class="mb-4" style="margin-left: 50px;">Schedule appointment lists are given below which includes doctors name, date, time, employee name,
                                <br />
                                    <a target="_blank" href="#">Account Profile Link</a>
                                </p>

                                <div class="card-body">
                                    {% include 'tables.html' %}                                     
                                </div>
                            </div>
                        </div>                                                
                    </div>

                    
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            {% include 'base/footer.html' %}
        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    {% include 'base/footer-logout.html' %}

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

</body>

</html>