<!DOCTYPE html>
<html lang="en">
{% load static %}
{% block content %}
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'employee_home' %}">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">COMPANY CMS PORTAL</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item {{ obj0 }}">
        <a class="nav-link" href="{% url 'employee_home' %}">
            <i class="fas fa-fw fa-tachometer-alt"></i>                            
            <span>{{user.first_name }} - Dashboard</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            SECTIONS
        </div>

        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item {{ obj1 }}">
            <a class="nav-link {{ obj5 }}" href="{% url 'product_details' %}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>View Products</span>
            </a>            
        </li>
        
        <li class="nav-item {{ obj1 }}">
            <a class="nav-link {{ obj2 }}" href="{% url 'add_product_details' %}">
                <i class="fas fa-fw fa-cog"></i>
                <span>Add Products</span>
            </a>
            <a class="nav-link {{ obj2 }}" href="{% url 'add_doctors' %}">
                <i class="fas fa-fw fa-cog"></i>
                <span>Add Doctor</span>
            </a>
            <a class="nav-link {{ obj2 }}" href="{% url 'appointment' %}">
                <i class="fa fa-solid fa-clock" aria-hidden="true"></i>
                <span>Schedule's Doctor's Appointment</span>
            </a>
            <a class="nav-link {{ obj2 }}" href="{% url 'schedule' %}">
                <i class="fa fa-solid fa-clock" aria-hidden="true"></i>
                <span>Today's Schedule's</span>
            </a>
            <a class="nav-link {{ obj2 }}" href="{% url 'deals_details' %}">
                <i class="fas fa-fw fa-cog"></i>
                <span>Add Deals</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Login Screens
        </div>

        <!-- Nav Item - Pages Collapse Menu -->        
        <li class="nav-item {{ obj7 }}">                   
            <a class="nav-link {{ obj18 }}" href="#">
                <i class="fas fa-fw fa-folder"></i>
                <span>Welcome {{ request.user }}</span>
            </a>            
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

        <!-- Sidebar Message -->
        <div class="sidebar-card d-none d-lg-flex">
            <img class="sidebar-card-illustration mb-2" src="{% static 'img/undraw_rocket.svg' %}" alt="...">
            <p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components, and more!</p>            
        </div>

    </ul>
    <!-- End of Sidebar -->
{% endblock %}
</html>